name: Laravel

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  laravel-tests:

    runs-on: [self-hosted, windows]  # Use self-hosted runner with Windows

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        path: C:\inetpub\vhosts\kami  # This specifies where to pull the code
