name: Laravel

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  laravel-tests:

    runs-on: windows-latest  # Change to Windows environment

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
